

.card-img-top{
    height: 300px;
}
    
body{
    background: rgb(34,34,34);
background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(64,64,64,1) 24%, rgba(74,74,74,1) 50%, rgba(55,55,55,1) 79%, rgba(13,13,13,1) 100%); 
}